<div class="container w-100">

    <div class="row w-100 mt-5">

        <div class="col-md-12 ">
            <h1 class="text-monospace text-center">Bem vindos ao meu humilde Blog</h1>
        </div>

    </div>
    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                A bizarre incident occured in the outskirts of an American suburb called Raccoon City. It was later
                revealed that the terrible disaster had been caused by the t-virus: a mutagenic toxin created by the
                international enterprise Umbrella, Incorporated for use in bio-weapon experiments. The Raccoon City
                Police Department's special S.T.A.R.S. unit immediately began an investigation in the affair. The case
                was apparently closed thanks to the efforts of S.T.A.R.S. members Chris Redfield and Jill Valentine. But
                the Umbrella Corporation's experiments were far from finished...
            </p>

        </div>

    </div>
</div>
    <div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" rounterLink="/feed">Ver o Feed</button>
    </div>
</div>

