<!--Footer-->
<footer class="page-footer front-small bg-secundary pt-4">

    <!--footer elements-->
    <div class="container">

        <!--call to action-->

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light">Siga-nos nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li><a href="#" class="iconFacebook" title="Facebook">
                            <fa-icon [icon]="faFacebook" class="faFacebook fa-3x p-3"></fa-icon>
                        </a>
                    </li>
                    <li><a href="#" class="iconInstagram" title="Instagram">
                            <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon>
                        </a>
                    </li>
                    <li><a href="#" class="iconLinkedIn" title="LinkedIn">
                            <fa-icon [icon]="faLinkedIn" class="faLinkedIn fa-3x p-3"></fa-icon>
                        </a>
                    </li>
                </ul>

            </div>

        </div>
        <!--Call to Action-->

    </div>
    <!--Footer elements-->

    <!-- copyright-->
    <div class="footer-copyright  bg-dark text-center py-3">
        <span class="text-light">2020 copyright: </span>
        <a class="text-light" href="https://brasil.generation.org">brasil.generation.org</a>
    </div>
    <!--copyright-->

</footer>
<!--footer-->